
.imagen1{
  position: absolute;
  margin-top: 30%;
  width: 80%;
  height: 60%;
}

.menu1{
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
}

.menu{
  list-style: none;
  padding: 0%;
  background: #092327;
  width: 90%;
  max-width: 1000px;
  margin:auto ;
}
.menu li a{
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}
.menu li{
 display:inline-block ;
 text-align:center ;
}
.menu li a:hover{
  background:#ef8354 ;

}

.subtitulo3{
 text-align: center;
 font-family:'Times New Roman', Times, serif;
 background: orange;
}

.INICIO{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  background: orange;
}
.contactos{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  background: orange;
}
.titulo1{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}
.texto{
  margin-left: 20%;
  margin-right: 20%;
}
.TITULOPAG{
  text-align: right;
  color: white;
}
.imc{
  text-align: right;
}
.imagen3{
  position: absolute;
  margin-top: 10%;
  width: 20%;
  height: 20%;
  left: 30%;
}
.boton1{
  margin-top: 10%;
}
.imagen4{
  position: absolute;
  margin-top: 10%;
  width: 20%;
  height: 20%;
  right: 30%;
}
.espacio2{
  margin-top: 10%;
}
.boton2{
  left: 20%;
}
.lola{
  width: 25%;
  height: 10%;
  text-align: center;
  border-radius: 30px;
  margin-top: 10%;
  margin-left: 35%;
  color: white;
}
.palo{
  background-color: purple;
}